<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= @property.errors.count %> 个错误:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :style %><br />
    <%= f.select :style,Property::Style %>
  </div>
  <div class="field">
    <%= f.label :style %><br />
	<%= f.text_field :width %><em>默认为200px</em>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
