<h1>Listing category_properties</h1>

<table>
  <tr>
    <th>Asset category</th>
    <th>Property</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_properties.each do |category_property| %>
  <tr>
    <td><%= category_property.asset_category %></td>
    <td><%= category_property.property %></td>
    <td><%= link_to 'Show', category_property %></td>
    <td><%= link_to 'Edit', edit_category_property_path(category_property) %></td>
    <td><%= link_to 'Destroy', category_property, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category property', new_category_property_path(:asset_category_id => params[:asset_category_id]) %>
