<h1>机房列表</h1>

<table class="t_auto">
  <tr>
	  <th><div style="width:200px"><%= DataCenter.human_attribute_name(:name) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:contract_no) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:kefu_tel) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:other_contact) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:ems_address) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:map) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:device_no) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:space) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:bandwidth) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:port_num) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:ip) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:exchange_device) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:fee) %></div></th>
    <th><div style="width:200px"><%= DataCenter.human_attribute_name(:remark) %></div></th>
    <th></th>
  </tr>

<% @data_centers.each do |data_center| %>
  <tr>
    <td><%= simple_format data_center.name %></td>
    <td><%= simple_format data_center.contract_no %></td>
    <td><%= simple_format data_center.kefu_tel %></td>
    <td><%= simple_format data_center.other_contact %></td>
    <td><%= simple_format data_center.ems_address %></td>
    <td><%= simple_format data_center.map %></td>
    <td><%= simple_format data_center.device_no %></td>
    <td><%= simple_format data_center.space %></td>
    <td><%= simple_format data_center.bandwidth %></td>
    <td><%= simple_format data_center.port_num %></td>
    <td><%= simple_format data_center.ip %></td>
    <td><%= simple_format data_center.exchange_device %></td>
    <td><%= simple_format data_center.fee %></td>
    <td><%= simple_format data_center.remark %></td>
<td>
    <%= link_to 'Show', data_center %>
    <%= link_to 'Edit', edit_data_center_path(data_center) %>
    <%= link_to 'Destroy', data_center, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '添加机房信息', new_data_center_path %>
